/* Page background */
.admin-home {
  min-height: 100vh;
  background-color: #272727;
  display: flex;
  flex-direction: column;
}

/* Center card */
.ticket-container {
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
  margin-top: 100px;
  background-color: #3a3a3a;
  border: 1px solid #d7263d;
  border-radius: 10px;
  padding: 28px;
}

/* Title */
.ticket-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 24px;
  letter-spacing: 0.5px;
}

/* Form layout */
.ticket-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#report
{
  width: 90%;
}
/* Input group */
.form-group {
  display: flex;
  flex-direction: column;
}

/* Labels */
.form-group label {
  margin-bottom: 6px;
  font-size: 16px;
  color: #ffffff
}

/* Inputs */
.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"] {
  padding: 10px;
  background-color: #272727;
  border: 1px solid #555555;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
}

.form-group input::placeholder {
  color: #9a9a9a;
}

/* Focus state */
.form-group input:focus {
  outline: none;
  border-color: #d7263d;
}

/* Radio buttons */
.radio-group {
  display: flex;
  gap: 5px;
  margin-top: 6px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.radio-group input {
  accent-color: #d7263d;
}


/* Submit button */
.submit-btn {
  margin-top: 20px;
  padding: 12px;
  background-color: #d7263d;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.9;
}
.two-inputs
{
  display: flex;
  gap: 100px;
  flex-direction: row;
}
/* Small screens */
@media (max-width: 520px) {
  .ticket-container {
    margin: 20px;
    padding: 20px;
  }
}
