.StartingWrapper {
  min-height: 100vh;
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* Card */
.StartingCard {
  background-color: #323232;
  padding: 20px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  align-items: center;
  display: flex;
  flex-direction: column;
}
.title {
  color: #ffffff;
  margin-bottom: 5px;
}
.StartingContainer {
  background-color: #323232;
  padding: 40px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
}
img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
